<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- ドット絵の各パーツのフォルダのパス
         ※最初に記載されたフォルダ内のドット絵が重ね順で一番下に合成されます
         例）ドット絵のパーツが「C:\dotPartsDir\body」、「C:\dotPartsDir\hair」、「C:\dotPartsDir\eye」とある場合
             value="C:\dotPartsDir\body,C:\dotPartsDir\hair,C:\dotPartsDir\eye"
    -->
    <add key="dotPartsDirs" value="C:\temp\body,C:\temp\hair,C:\temp\eye" />
    <!-- 合成したドット絵を出力するフォルダのパス
         例）value="C:\export"
    -->
    <add key="exportDir" value="C:\temp\export" />
    <!-- ドット絵のパーツの拡張子
         ※拡張子の前のドットも含めてください。
         例）value=".png"
    -->
    <add key="dotPartsExtension" value=".png" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>