<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->

  <!-- レイアウト定義 -->
  <!--<variable name="layoutNomal" value="${longdate} ${uppercase:${level}} ${message} ${exeption:format=tostring}"/>-->
  <variable name="layoutNomal" value="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}"/>
  
  <targets>
    <target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.log" layout="${layoutNomal}" />
    <target xsi:type="Console" name="console" layout="${layoutNomal}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file,console" />
  </rules>
</nlog>